.header {
  background-color: #2b2b45;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #444;
}

.header h1 {
  color: #ffcc00;
  font-size: 2rem;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.header button {
  background-color: #ffcc00;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
}

.header button:hover {
  background-color: #ffd633;
  transform: scale(1.05);
}